html,
body,
div,
a,
img,
ul,
li,
span,
header,
nav,
footer,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.lt-header {
  background-color: #006699;
}
.lt-header h1 {
  color: #fff;
}
.lt-header a {
  color: #fff;
}
.lt-footer {
  background-color: #006699;
}
.lt-footer .mui-tab-item {
  color: #fff;
}
.lt-footer .mui-tab-item.mui-active {
  color: darkorange;
}
